[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
